<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" 
           data-bs-toggle="dropdown" 
           href="#" 
           role="button" 
           aria-expanded="false">[[#{plantilla.pruebas}]]</a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item"  th:href="@{/pruebas/listado}">[[#{plantilla.asociaciones}]]</a></li>
        </ul>
    </li>
</html>
